Django==1.4.3
PIL==1.1.7
argparse==1.2.1
boto==2.6.0
distribute==0.6.31
dj-database-url==0.2.1
django-ses==0.4.1
django-storages==1.1.6
gunicorn==0.16.1
psycopg2==2.4.6
sorl-thumbnail==11.12
wsgiref==0.1.2
