{% extends "base.html" %}

{% block content %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".well-large" %}
</script>

<!--<script>
{% include "djangojs/show.js" with identity=".inner_form" %}
</script>-->

{% endblock %}

<div class="well well-large extra_space">
<h2><b>About OBOE</b></h2>

<h1 style="text-align:center;">
<small>OBOE is a Olin College student project designed over winter break.  We're not entirely sure what it's going to do yet, but we're positive it will be awesome.<small>
<h1>

</div>

{% endblock %}
