<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Filtr </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>


    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    
    
    <style type="text/css">
    
      {% include "djangocss/base.css" %}
      
      {% block css %}
      {% endblock %}

    </style>

    <!--  Icon -->
	
    <link rel="icon" href="https://s3.amazonaws.com/oboe/favicon.ico" type="image/x-icon"> 
	<link rel="shortcut icon" href="https://s3.amazonaws.com/oboe/favicon.ico" type="image/x-icon"> 

    <style type="text/css"></style></head>
  
  <body>

    {% include "elements/navbar.html" %}

    {% block content %}
    {% endblock %}
    
  </body>

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    {% block scripts %}
    {% endblock %}
    
    <script>
    {% include "djangojs/pushNotifications.js" with mailbox="#mailcount" %}
    </script>
    
    <script type="text/javascript">  
      $(document).ready(function(){
          var keys = [];
          var konami = '38,38,40,40,37,39,37,39,66,65';
          $(document).keydown(function(e) {
              keys.push(e.keyCode);
              if (keys.toString().indexOf( konami ) >= 0) {
                  $('body').append('<iframe id="konami" width="960" height="700" style="position:absolute; top:50%; left:50%; margin:-330px 0 0 -480px;" src="http://www.youtube.com/embed/wrW4AtONSnw?rel=0&autoplay=1&loop=1&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>')
                  keys = [];
                  
              }
          });
          $('body').live('click', function(){$('#konami').remove()});
      });
    </script>  
    
</html>
