{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script>
{% if not webkit %}
{% include "djangojs/scroll.js" with ident=".scrollbox" %}
{% endif %}


function half(){
$("#bulletinbox").css({
        height: ($(window).height() - $("#bulletinbox:last").offset().top) * 3 / 5 - 60
    });
}

$(window).resize(function(){
    half();
});

$(document).ready(function(){
    half();
});

$(document).ready(function(){
    $("#id_message").text("Reply..");
});

$("#id_message").focus(function(){
  this.value = "";
});

{% include "djangojs/fill.js" with ident="#replybox" %}

</script>
{% endblock %}

{% block css %}
{% include "djangocss/scroll.css" %}
{% include "djangocss/replyform.css" %}
{% include "djangocss/bulletinform.css" %}

.faded{
    color:#909090;
}

#contentbox{
    max-width:500px;
}

{% endblock %}

{% block content %}
<div class="container-fluid" id="contentbox">
  <h2 style="margin-left:25px;">{{ bulletin.subject|title }}</h2>
  <div class="well well-large well-scroll">
    <div class="scrollbox" id="bulletinbox">
      <div class="scrollbox-inner">
	<h4 style="color:#404040;"><span class="faded">by</span> {% if bulletin.creator = user.userdata %}You{% else %}{{ bulletin.creator|title }}{% endif %} <span class="faded">about</span> {{bulletin.tag|title }} {% if bulletin.location != "NA" %}<span class="faded">in the</span> {{ bulletin.get_location_display }}{% endif %} {% if not bulletin.helpbulletin %}<span class="faded">for</span> {{ bulletin.get_free_display }}{% endif %}</h4>

	{% if bulletin.creator = user.userdata %}
	<form action="/update/{{ bulletin.id }}/" method="POST">
	  <input type="submit" value="Update" id="id_submit" >
	  {% csrf_token %}
	  {% if not bulletin.helpbulletin and not bulletin.free %}
	  <div id="id_free"><input type="checkbox" name="free" value="true" style="margin-top:-3px;">Make Free</div>
	  {% endif %}
	  <h4>{% if bulletin.missive_set.all|length > 1 %}Update {{ bulletin.missive_set.all|length }}:{% else %}Update:{% endif %}</h4>
	  {{ bulletinform.missive }}
	</form>	
	{% endif %}

	<hr>
	{% for missive in bulletin.missive_set.all|dictsortreversed:"timestamp" %}
	<h5>
	{% if forloop.revcounter0 = 0 %}
	Original:  
	{% elif forloop.revcounter0 = 1 %}
	Update: 
	{% else %}
	Update {{ forloop.revcounter0 }}: 
	{% endif %}
	<small>({{ missive.timestamp|timesince }} ago)</small></h5>
	<p style="font-size:16px;">{{ missive.message }}</p>
	{% if forloop.revcounter0 != 0 %}
	<hr>
	{% endif %}
	{% endfor %}
      </div>
    </div>
  </div>
  <h3 style="margin-left:25px; margin-top:-10px;">Replies: <span style="color:#606060;">
      {% if privatecount = 0 %}
      no private yet
      {% else %}
      {{ privatecount }} private
      {% endif %}
  </span></h3>
  <div class="well well-large well-scroll">
    <div class="scrollbox" id="replybox">
      <div class="scrollbox-inner">
	<form action="" method="POST">
	  <input type="submit" value="Reply" id="id_submit" >
	  {% csrf_token %}
	  <div id="id_visibility">
	    <input type="radio" name="visibility" value="Public" style="margin-top:-3px;">Public
	    <input type="radio" name="visibility" value="Private" style="margin-top:-3px; margin-left:10px;" checked>Private
	  </div>
	  <h4>{{ user.get_full_name }}:</h4>
	  {{ form.message }}
	</form>
	{% for reply in replies %}
	<hr style="margin:0px;">
	<h5>{{ reply.sender }}: <small>({{ reply.timestamp|timesince }} ago)</small></h5>
	<p>{{ reply.message }}</p>
	{% endfor %}
      </div>
    </div>
  </div>	
</div>
{% endblock %}
