<!--ChangePassword.html-->
{% extends "base.html" %}

{% block content %}


{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".hero-unit" %}
</script>

<!--<script>
{% include "djangojs/show.js" with identity=".inner_form" %}
</script>-->

{% endblock %}

<div class="hero-unit extra_space">

<h2 style="text-align:center;"><b>Change Password</b></h2>

<hr>

<form action="" method="post" class="form-horizontal inner_form"> 
	
	{% csrf_token %}

	{% if form.errors %}
        <p class="base_error">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    {{ form.non_field_errors }}

	<div class="control-group">
        {% for error in form.oldPassword.errors %}
			<p class="field_error">{{ error }}</p>
		{% endfor %}
        <label class="control-label" for="id_message">Old Password:</label>
		<div class="controls">
			{{ form.oldPassword }}   			
		</div>
    </div>

	<div class="control-group">
        {% for error in form.newPassword.errors %}
			<p class="field_error">{{ error }}</p>
		{% endfor %}
        <label class="control-label" for="id_message">New Password:</label>
		<div class="controls">
			{{ form.newPassword }}
		</div>
    </div>

	<div class="control-group">
        {% for error in form.confirmPassword.errors %}
			<p class="field_error">{{ error }}</p>
		{% endfor %}
        <label class="control-label" for="id_message">Confirm Password:</label>
		<div class="controls">
			{{ form.confirmPassword }}
		</div>
    </div>

	<div class="control-group">
		<div class="controls">
			<input type="submit" value="Submit" class="btn btn-success"/>
		</div>
    </div>


</form>
</div> 

{% endblock %}
