{% extends "base.html" %}

{% block css %}

.extra_space {
	padding-left:75px;
	padding-right:85px;
	padding-bottom:50px;
	padding-top:50px;
}

#email {
	float:left;
	margin-left: -5px;
}

#subject {
	float:right;
	margin-right:-20px;

#message {
	margin: 0 auto;
}

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".well-large" %}
</script>

<!--<script>
{% include "djangojs/show.js" with identity=".inner_form" %}
</script>-->

{% endblock %}

{% block content %}
<div class="well well-large extra_space">

<h2 style="text-align:center;"><b>Contact Us</b></h2>

<hr>

<form action="" method="post" class="inner_form"> 
	{% csrf_token %}


	{% if form.emailAddress.errors %}
    <div class="control-group error" id="email">
	{% else %}
	<div class="control-group" id="email">
	{% endif %}
		<div class="controls">
			{{ form.emailAddress }}
		</div>
    </div>

    
	{% if form.subject.errors %}
    <div class="control-group error" id="subject">
	{% else %}
	<div class="control-group" id="subject">
	{% endif %}
		<div class="controls">
			{{ form.subject }}
		</div>
    </div>


	{% if form.message.errors %}
    <div class="control-group error row-fluid" id="message">
	{% else %}
	<div class="control-group row-fluid" id="message">
	{% endif %}
		<div class="controls">
			{{ form.message }}
		</div>
    </div>
<hr>

	<div class="control-group" style="text-align:center;">
		<div class="controls">
			<input type="submit" value="Send" class="btn btn-success"/>
		</div>
    </div>

</form>
</div>
{% endblock %}
