{% extends "base.html" %}


{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".hero-unit" %}
</script>

<!--<script>
{% include "djangojs/show.js" with identity=".inner_form" %}
</script>-->

{% endblock %}

{% block content %}
<div class="hero-unit extra_space">

<h2 style="text-align:center;"><b>Contact Us</b></h2>

<hr>

<form action="" method="post" class="inner_form"> 
	{% csrf_token %}


	{% if form.emailAddress.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_email">Email Address:</label>
		<div class="controls">
			{{ form.emailAddress }}
		</div>
    </div>

    
	{% if form.subject.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_subject">Subject:</label>
		<div class="controls">
			{{ form.subject }}
		</div>
    </div>


	{% if form.message.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_subject">Message:</label>
		<div class="controls">
			{{ form.message }}
		</div>
    </div>
<hr>

	<div class="control-group" style="text-align:center;">
		<div class="controls">
			<input type="submit" value="Send" class="btn btn-success"/>
		</div>
    </div>

</form>
</div>
{% endblock %}
