{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script>
{% if not webkit %}
{% include "djangojs/scroll.js" %}
{% endif %}

{% include "djangojs/partialfill.js" with ident="#id_missive" offset=" - 60 " %}

$("#id_type").button();

$("#id_type").click(function(){
    var btn = $(this);
    var name = $(this).attr('data-toggle-name')
    if(btn.attr("value") == 'Help!'){
        $("#price_toggle").slideDown(function(){
            btn.button('want');
            $('input[name="hiddentype"]').val('Want');
            $('#id_tag').typeahead({source: wanttagdata});
        });
    } else {
        $("#price_toggle").slideUp(function(){
            btn.button('help');
            $('input[name="hiddentype"]').val('Help');
            $('#id_tag').typeahead({source: helptagdata});
        });
    }
});

{% include "djangojs/radioButtons.js" %}

var helptagdata = [{% for tag in helptags %}'{{ tag }}',{% endfor %}];
var wanttagdata = [{% for tag in wanttags %}'{{ tag }}',{% endfor %}];

$("#id_tag").typeahead({
  source: function(){
    if($("#id_type").attr("value") == 'Help!'){
      return helptagdata;
    } else {
      return wanttagdata;
    }
  }
});


</script>

{% endblock %}

{% block css %}
{% include "djangocss/scroll.css" %}
{% include "djangocss/createform.css" %}

{% endblock %}

{% block content %}
<div class="container-fluid" style="max-width:940px;">
  <div class="page-header">
    <h1 style="float:right;"><small>Or don't, we can't control you</small></h1>
    <h1>Create a bulletin</h1>
  </div>
  
  <div class="well well-large well-scroll">
    <div class="scrollbox">
      <div class="scrollbox-inner">
	<div class="alert alert-error">
	  <strong>Error:</strong>{% for error in errors %} {% if forloop.first %}{{ error|capfirst }}{% else %}{{ error }}{% endif %}{% if not forloop.last %} Also,{% endif %}{% endfor %}

	</div>
	<form style="margin-bottom:-10px;" action="" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	  {{ form.hiddentype }}
	  {{ form.hiddenloc }}
	  {{ form.hiddenrel }}
	  {{ form.hiddenprice }}
	  <div class="row-fluid">
	    <div class="span8 input-prepend">
	      <input class="btn" type="button" id="id_type" value="Help!" data-help-text="Help!" data-want-text="Want?">
	      {{ form.subject }}
	    </div>
	    <div class="span4">
	      {{ form.tag }}
	    </div>
	  </div>
	  <div class="row-fluid" style="margin-bottom:5px;">
	    <div class="span8">
	      <div class="btn-group" data-toggle-name="hiddenloc" style="float:left;" data-toggle="buttons-radio">
		<input class="btn sharp" disabled type="button" value="Location: " id="id_loc">Location:
		<input class="btn sharp" type="button" value="NA" id="id_loc">
		<input class="btn sharp" type="button" value="EH" id="id_loc">
		<input class="btn sharp" type="button" value="WH" id="id_loc">
		<input class="btn sharp" type="button" value="AC" id="id_loc">
		<input class="btn sharp" type="button" value="CC" id="id_loc">
		<input class="btn sharp" type="button" value="MH" id="id_loc">
		<input class="btn sharp" type="button" value="LP" id="id_loc">
	      </div>
	      <div style="float:right; margin-right:-3px;" class="btn-group" data-toggle-name="hiddenrel" data-toggle="buttons-radio">
		<input class="btn sharp" disabled type="button" id="id_rel" value="Relevance: ">
		<input class="btn sharp" type="button" id="id_rel" value="2" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" value="4" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" value="6" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" value="12" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" value="24" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" value="48" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" value="96" style="width:23px;">
		<input class="btn sharp" disabled type="button" id="id_rel" value="Hours">
	      </div>
	    </div>
	    <div class="span4">
	      <div class="btn-group" style="display:none; float:left;" id="price_toggle" data-toggle-name="hiddenprice" data-toggle="buttons-radio">
		<input class="btn sharp" type="button" id="id_price" value="Free" style="width:75px;">
		<input class="btn sharp" type="button" id="id_price" value="Cheap" style="width:75px;">
	      </div>
	      <input class="btn sharp" type="submit" value="Post" id="id_submit" style="width:50px; float:right; margin-right:-4px;">
	    </div>
	  </div>
	  <div class="row-fluid">
	    {{ form.missive }}
	  </div>
	</form>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
