{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script>
{% if not webkit %}
{% include "djangojs/scroll.js" %}
{% endif %}
</script>

{% endblock %}

{% block css %}
{% include "djangocss/scroll.css" %}

input.textsharp, textarea.textsharp{
  padding:1px;
  resize:none;
  border-radius:0px;
}

input.sharp{
  padding:2px;
  border-radius:0px;
}

#id_type{
  padding:1px;
}

#id_loc, #id_price, #id_rel{
  border-radius:0px;
}

#id_missive{
  width:100%;
  height:200px;
}

{% endblock %}

{% block content %}
<div class="container-fluid" style="max-width:940px;">
  <div class="page-header">
    <h1 style="float:right;"><small>Or don't, we can't control you</small></h1>
    <h1>Create a bulletin</h1>
  </div>
  
  <div class="well well-large well-scroll">
    <div class="scrollbox">
      <div class="scrollbox-inner">
	<form style="margin-bottom:-10px;" action="" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	  <div class="row-fluid">
	    <div class="span1">
	      <input class="btn sharp" type="button" id="id_type" name="type" value="Help!" style="width:110%">
	    </div>
	    <div class="span7">
	      <input class="textsharp" type="text" id="id_subject" placeholder="Subject..." style="width:100%;">
	    </div>
	    <div class="span4">
	      <input class="textsharp" type="text" id="id_tag" placeholder="Tag..." style="width:100%;">
	    </div>
	  </div>
	  <div class="row-fluid" style="margin-bottom:3px;">
	    <div class="span8">
	      <div class="btn-group" style="float:left;" data-toggle="buttons-radio">
		<input class="btn sharp" disabled type="button" name="loc" value="Location: " id="id_loc">
		<input class="btn sharp" type="button" name="loc" value="EH" id="id_loc">
		<input class="btn sharp" type="button" name="loc" value="WH" id="id_loc">
		<input class="btn sharp" type="button" name="loc" value="AC" id="id_loc">
		<input class="btn sharp" type="button" name="loc" value="CC" id="id_loc">
		<input class="btn sharp" type="button" name="loc" value="MH" id="id_loc">
		<input class="btn sharp" type="button" name="loc" value="LP" id="id_loc">
	      </div>
	      <div style="float:right; margin-right:-4px;" class="btn-group" data-toggle="buttons-radio">
		<input class="btn sharp" disabled type="button" id="id_rel" name="rel" value="Relevance: ">
		<input class="btn sharp" type="button" id="id_rel" name="rel" value="2" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" name="rel" value="4" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" name="rel" value="6" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" name="rel" value="12" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" name="rel" value="24" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" name="rel" value="48" style="width:23px;">
		<input class="btn sharp" type="button" id="id_rel" name="rel" value="96" style="width:23px;">
		<input class="btn sharp" disabled type="button" id="id_rel" name="rel" value="Hours">
	      </div>
	    </div>
	    <div class="span2 btn-group" data-toggle="buttons-radio">
		<input class="btn sharp" type="button" id="id_price" name="price" value="Free" style="width:75px;">
		<input class="btn sharp" type="button" id="id_price" name="price" value="Cheap" style="width:75px;">
	    </div>
	    <div class="span2">
	      <input class="btn sharp" type="submit" value="Post" id="id_submit" style="width:50px; float:right; margin-right:-4px;">
	    </div>
	  </div>
	  <div class="row-fluid">
	    <textarea class="textsharp" id="id_missive" placeholder="Message..."></textarea>
	  </div>
	</form>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
