{% extends "base.html" %}

{% block scripts %}

<script>

{% include "djangojs/fill.js" with ident=".scrollbox" %}
{% include "djangojs/bootstrap-fileupload.js" %}

$(document).ready(function(){
	 $('.addHelpFilter').live('click', function () { 
		filterValue = $('#id_helptag').val();
		$.post('/elements/edit_filters/help/', $('.eff').serialize(), function(data){
			$('.eff').html(data)
		});
	});     
         
	$('.addWantFilter').live('click', function () { 
		filterValue = $('#id_wanttag').val();  
		$.post('/elements/edit_filters/want/', $('.eff').serialize(), function(data){
			$('.eff').html(data)
		});
	});

	$('.delFilter').live('click', function() {
		var id = $(this).parent().attr("id");
		var helpfilter = $(this).parent().attr("helpfilter");
   		$(this).parent().remove();
		$.post('/elements/edit_filters/del/', $('.eff').serialize() + "&name=" + id + "&helpfilter=" + helpfilter, function(data){
			$('.eff').html(data)
		});
	});

	$('.editProfile').live('click', function() {
		$.post('/elements/general_info/', $('.epf').serialize(), function(data){
			$('.epf').html(data)
		});
	});
});

</script>

{% endblock %}


{% block css %}

{% include "djangocss/bootstrap-fileupload.css" %}
{% include "djangocss/bootstrap-fileupload.min.css" %}
.custom_margin { margin-bottom:20px; }
.custom_height { height:500px; }
.custom_padding_general { padding-top:50px;padding-bottom:50px;min-width:525px; }
.custom_padding_filters { padding-right:20px; padding-left:20px;min-width:525px; }
.centered_margin { text-align:center;margin-bottom:5px; }
.filter_padding { padding-top:8px;padding-bottom:15px; }
.relative { position:relative; }
.tight_hr { margin-top:10px;margin-bottom:10px; }
.helpTitle { margin-top:0px;margin-bottom:0px;margin-left:61px; }
.wantTitle { margin-top:0px;margin-bottom:0px;margin-left:88px; } 
#left { float:left }
#right { float:right }
-webkit-text-fill-color:#880000;

{% endblock %}

{% block content %}

<div class="container-fluid show" id="contentbox">

  <div class="page-header show centered_margin">
    <h1>
       <small><strong>Edit Profile</strong></small>
    </h1>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="btn-toolbar" style="position:relative;">
	<h3 style="text-align:center;">General Information</h3>
      </div>
      <div class="well well-large well-scroll custom_height">
	<div class="scrollbox">
	  <div class="scrollbox-inner custom_padding_general generalbox" id="wantbox" >
		{% include "elements/editProfileForm.html" %}
	  </div>
	</div>
      </div>
    </div>

    <div class="span6">
      <div class="btn-toolbar relative">
	<h3 style="text-align:center;">Manage Filters</h3>
      </div>
      <div class="well well-large well-scroll custom_height custom_padding_filters">
	<div class="scrollbox">
	  <div class="scrollbox-inner filter_padding filterbox" id="helpbox">
	    {% include "elements/filters.html" %}
	  </div>
	</div>
      </div>
	<div style="text-align:center;position:relative;bottom:0px">
	<a href="/" style="font-size:20px;">Suggest a new filter!</a>
	</div>
    </div>
  </div>

</div>

{% endblock %}
