{% extends "base.html" %}

{% block scripts %}

<script>

{% include "djangojs/partialfill.js" with ident=".scrollbox" offset=" - 100" %}
{% if not webkit %}
{% include "djangojs/scroll.js" %}
{% endif %}
{% include "djangojs/bootstrap-fileupload.js" %}

$(document).ready(function(){
	 $('.addHelpFilter').live('click', function () { 
		$.post('/elements/edit_filters/help/', $('.eff').serialize(), function(data){
			$('.eff').html(data)
		});
	
	}); 

	$('.addHelpFilterList').live('click', function () { 
		$.post('/elements/edit_filters/help/',  $('.eff').serialize() + "&add=" + $(this).parent().attr('id'), function(data){
			$('.eff').html(data)
		});

	});     
         
	$('.addWantFilter').live('click', function () { 
		$.post('/elements/edit_filters/want/', $('.eff').serialize(), function(data){
			$('.eff').html(data)
		});

	}); 

	$('.addWantFilterList').live('click', function () { 
		$.post('/elements/edit_filters/want/',  $('.eff').serialize() + "&add=" + $(this).parent().attr('id'), function(data){
			$('.eff').html(data)
		});

	});

	$('.delFilter').live('click', function() {
		var id = $(this).parent().attr("id");
		var helpfilter = $(this).parent().attr("helpfilter");
		$.post('/elements/edit_filters/del/', $('.eff').serialize() + "&name=" + id + "&helpfilter=" + helpfilter, function(data){
			$('.eff').html(data)
		});
	});
});

</script>

{% endblock %}


{% block css %}

{% include "djangocss/scroll.css" %}
{% include "djangocss/bootstrap-fileupload.css" %}
{% include "djangocss/bootstrap-fileupload.min.css" %}

.center { text-align:center; }
.tight_hr { margin-top:10px;margin-bottom:10px; }
#filterheader { margin-top:0px; margin-bottom:10px; }
-webkit-text-fill-color:#880000;

{% endblock %}

{% block content %}

<div class="container-fluid show" style="min-width:1150px;" id="contentbox">
  <div class="page-header" id="filterheader">
    <h1 style = "margin-top:0px;">
      <small><strong>Manage Filters</strong></small>
    </h1>
  </div>
  {% include "elements/filterSubPage.html" %}
  <div class="well" style="text-align:center; padding:10px; margin-bottom:25px; margin-top:-15px;">
    <a href="/filterSuggestions/" style="font-size:20px;">Suggest a new filter!</a>
  </div>
</div>

{% endblock %}
