{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>
<script>{% include "djangojs/bootstrap-fileupload.js" %}</script>
<script>{% include "djangojs/center.js" with ident=".well-large" %}</script>
<script>
$(document).ready(function(){
	$('.editProfile').live('click', function() {
		$.post('/elements/general_info/', $('.epf').serialize(), function(data){
			$('.epf').html(data)
		});
	});
});
</script>
{% endblock %}
	

{% block css %}
{% include "djangocss/bootstrap-fileupload.css" %}

.well-large {
	padding:50px;
	width:500px;
}

{% endblock %}


{% block content %}

<div class="well well-large">

<h2 style="text-align:center;"><b>Edit Profile</b></h2>

<hr>

<form action="" method="post" class="form-horizontal inner_form"> 
	{% csrf_token %}

	{% if form.first_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_first_name">First Name:</label>
		<div class="controls">
			{{ form.first_name }}
		</div>
    </div>


	{% if form.last_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_last_name">Last Name:</label>
		<div class="controls">
			{{ form.last_name }}
		</div>
    </div>


	{% if form.dorm.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_dorm">Dorm:</label>
		<div class="controls">
			{{ form.dorm }}
		</div>
    </div>


	{% if form.emailAddress.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_email">Email Address:</label>
		<div class="controls">
			{{ form.emailAddress }}
		</div>
    </div>

	{% if form.pic.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
	<label class="control-label" for="id_first_name">Profile Picture:</label>
	<div class="fileupload fileupload-new controls" data-provides="fileupload">
  		<div class="input-append">
    			<div class="uneditable-input span2"><i class="icon-file fileupload-exists"></i> 
					<span class="fileupload-preview"></span>
				</div>
				<span class="btn btn-file">
				<span class="fileupload-new">Select file</span>
				<span class="fileupload-exists">Change</span>{{ form.pic }}
				</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  		</div>
	</div>
	</div>


	<div class="control-group">
		<label class="control-label" for="id_password">Password: </label>
		<div class="controls">
			<a href="/changePassword/" type="submit" class="btn btn-alert" >Change</a>   
		</div>
    </div>

	<hr>

	<div class="control-group">
		<div class="controls">
			<input type="submit" value="Save" class="btn btn-success"/>
		</div>
    </div>
</form>
</div>
{% endblock %}

