{% extends "base.html" %}

{% block css %}

.custom_margin {
	margin-top: px;
}

{% endblock %}
{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".profiles-wrapper" %}
</script>

{% endblock %}

{% block content %}

<form action="" method="post" style="text-align:center;margin-right:50px;margin-left:30px;margin-top:0px;" enctype="multipart/form-data"> 
	{% csrf_token %}

	<div class="input-append custom_margin">
		{{ form.username }}
		<button class="btn btn-success addHelpFilter" type="button">Go</button>
	</div>

</form>

{% include "elements/profilesearch.html" %}

{% endblock %}

<!--<div class="profiles-wrapper">
<span class="container-fluid" style="left-margin:auto;right-margin:auto">-->

