{% extends "base.html" %}

{% block css %}

{% endblock %}
{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".profiles-wrapper" %}
</script>

{% endblock %}

{% block content %}

<div class="row-fluid">
<div style="margin-right:auto; margin-left:auto; width:600px;">
<form action="" method="post" style="text-align:center;margin-left:5px;margin-right:5px;margin-top:0px;float:right;" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="input-append">
		{{ form.username }}
		<button class="btn btn-success" type="submit">Go</button>
	</div>

</form>

<form action="" method="post" style="text-align:center;margin-left:5px;margin-right:5px;margin-top:0px;float:left;" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="input-append">
		{{ form2.filternames }}
		<button class="btn btn-success" type="submit">Go</button>
	</div>

</form>
</div>
</div>


{% include "elements/profilesearch.html" %}

{% endblock %}

<!--<div class="profiles-wrapper">
<span class="container-fluid" style="left-margin:auto;right-margin:auto">-->

