{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".profiles-wrapper" %}
</script>


<!--<script>
{% include "djangojs/show.js" with identity=".inner_form" %}
</script>-->

{% endblock %}

{% block content %}
<div style="margin-right:50px;margin-left:50px;">
{% for userdata in users %}
<div class="well span3">
	<span class="thumbbox span">
		<!--<img src="{% thumbnail userdata.pic 60x60 crop %}" class="profthumb" style="border:1px;padding:0px;-moz-border-radius:5px;border-radius:5px;">-->
	</span>
	<span class="span" style="text-align:center;">
		<p><b>{{ userdata.user.first_name }} {{ userdata.user.last_name }}<b><p>
		<hr style="margin-top:5px;margin-bottom:5px;">
		<p>{{ userdata.dorm }}<p>	
	</span>
</div> 
{% endfor %}
</div>

<form action="" method="post" style="text-align:center;margin-top:550px;" enctype="multipart/form-data"> 
	{% csrf_token %}



<div class="control-group">
    {{ form.filters.errors }}
    <label class="control-label" for="id_filters">Current Filter: {{ filterText }}</label>
	<div class="controls">
		{{ form.filterType }}
	</div>
	<div class="controls">
		{{ form.filters }}
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<input type="submit" value="Filter" class="btn btn-success"/>
	</div>
</div>

</form>
{% endblock %}

<!--<div class="profiles-wrapper">
<span class="container-fluid" style="left-margin:auto;right-margin:auto">-->

