{% extends "base.html" %}

{% load thumbnail %}

{% block scripts %}



<script>
{% if not webkit %}
{% include "djangojs/scroll.js" %}
{% endif %}

{% include "djangojs/fill.js" with ident=".scrollbox" %}


</script>
{% endblock %}


{% block css %}


.faded{
    color:#909090;
}

#contentbox{
    max-width:500px;
}

{% include "djangocss/scroll.css" %}

{% endblock %}


{% block content %}
<div class="container-fluid" id="contentbox">
  <div class="page-header">
    <h1 style="float:right;"><small>{{ user.email }}</small></h1>
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="well well-large well-scroll">
	<div class="scrollbox">
	  <div class="scrollbox-inner" id="smallbox" style="padding-top:20px;padding-bottom:20px;">
	    {% thumbnail user.userdata.pic "350x350" crop="center" as im %}
			<img src="{{ im.url }}" class="profthumb" style="border:1px;padding:0px;-moz-border-radius:10px;border-radius:10px;">
		{% endthumbnail %}
	  </div>
	  <div style="text-align:center;">
	  	{% if user == request.user %}
		<form action="/editProfile/"  method="get">
    		<input type="submit" class="btn" value="Edit Profile and Manage Filters" id="frm1_submit" />
		</form>
		{% endif %}
	  </div>
	  <hr>
	  <div style="text-align:left;">
		<h4>Dorm: {{ user.userdata.dorm }}</h4>
		<h4>Resolved: {{ user.userdata.score }} {% if user.userdata.score > 1 %} problems {% elif user.userdata.score == 0 %} problems {% else %} problem {% endif %}</h4>
		<h4>Help Filters: 
		{% for filter in helpfilters %}
			{% if filter != helpfilters|last %}
				{{ filter }},
			{% else %}
				{{ filter }}
			{% endif %}
			{% empty %}
			None
		{% endfor %}
		</h4>
		<h4>Want Filters: 
		{% for filter in wantfilters %}
			{% if filter != wantfilters|last %}
				{{ filter }},
			{% else %}
				{{ filter }}
			{% endif %}
				{% empty %}
				None
		{% endfor %}
		</h4>
	  </div>
	</div>
      </div>
    </div>
    <div class="span8">
      <div class="well well-large well-scroll">
	<div class="scrollbox">
	  <div class="scrollbox-inner" id="bigbox" style="padding-top:15px;padding-bottom:15px;">
		<div class="row-fluid">
			<h3 style="float:left;">Recently posted by {{ user.first_name }}:</h3>
			<h1 style="float:right;"><small>{{ bulletins|length }} bulletins</small></h1>
		</div>
		<hr style="margin-top:0px;">

		{% for bulletin in bulletins %} 
			{% include "elements/profilebulletin.html" %}
		{% endfor %}

	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
