{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>
<script>
{% include "djangojs/bootstrap-fileupload.js" %}
</script>
<script>
{% include "djangojs/center.js" with ident=".hero-unit" %}
</script>

<!--<script>
{% include "djangojs/show.js" with identity=".inner_form" %}
</script>-->

{% endblock %}

{% block css %}
{% include "djangocss/bootstrap-fileupload.css" %}
{% endblock %}

{% block content %}

<div class="hero-unit extra_space">

<h2 style="text-align:center;"><b>Create an Account</b></h2>

<hr>

<form action="" method="post" class="form-horizontal inner_form" enctype="multipart/form-data"> 
	{% csrf_token %}

	{% if form.first_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_first_name">First Name:</label>
		<div class="controls">
			{{ form.first_name }}
		</div>
    </div>

	{% if form.last_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_last_name">Last Name:</label>
		<div class="controls">
			{{ form.last_name }}
		</div>
    </div>

	{% if form.emailAddress.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_email">Email Address:</label>
		<div class="controls">
			{{ form.emailAddress }}
		</div>
    </div>

	{% if form.password.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_password">Password:</label>
		<div class="controls">
			{{ form.password }}
		</div>
    </div>

	{% if form.confirmPassword.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_confirmPassword">Confirm Password:</label>
		<div class="controls">
			{{ form.confirmPassword }}
		</div>
    </div>

	{% if form.dorm.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_dorm">Dorm Room:</label>
		<div class="controls">
			{{ form.dorm }}
		</div>
    </div>


	{% if form.pic.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
	<label class="control-label" for="id_first_name">Profile Picture:</label>
	<div class="fileupload fileupload-new controls" data-provides="fileupload">
  		<div class="input-append">
    			<div class="uneditable-input span2"><i class="icon-file fileupload-exists"></i> 
					<span class="fileupload-preview"></span>
				</div>
				<span class="btn btn-file">
				<span class="fileupload-new">Select file</span>
				<span class="fileupload-exists">Change</span>{{ form.pic }}
				</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  		</div>
	</div>
	</div>

	<hr>

	<div class="control-group">
		<div class="controls">
			<input type="submit" value="Register" class="btn btn-success"/>
		</div>
    </div>

</form>
</div>
{% endblock %}

