{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/jquery.js"></script>

<script>
{% include "djangojs/center.js" with ident=".hero-unit" %}
</script>

<!--<script>
{% include "djangojs/show.js" with identity=".form-horizontal" %}
</script>-->

{% endblock %}

{% block content %}
<div class="hero-unit extra_space">
<h2><b>Can't remember your password?</b></h2>
<hr>


<form action="" method="post" class="form-horizontal inner_form"> 
	{% csrf_token %}

	 {% if form.errors %}
        <p class="base_error">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    {{ form.non_field_errors }}

	<div class="control-group">
		{% for error in form.emailAddress.errors %}
			<p class="field_error">{{ error }}</p>
		{% endfor %}
		<label class="control-label" for="id_email">Email Address:</label>
		<div class="controls">
			{{ form.emailAddress }}
		</div>
	</div>
	
	<hr>	
	
	<div class="control-group">
		<div class="controls">
			<input type="submit" value="Reset" class="btn btn-success"/>
		</div>
    </div>

</form>


</div>
{% endblock %}
