#id_honeypot{
    display:none;
}

#id_message{
    width:100%;
    padding:0px;
    height:60px;
    border-radius:0px;
    resize:none;
    margin:0px;
}

#id_visibility{
    float:right;
    margin-right:10px;
    margin-top:2px;
}

#id_submit{
    float:right;
}