{% load thumbnail %}
{% for bulletin in bulletins %}
<div class="bcon">
  <div class="thumbbox">
    {% if not bulletin.anon %}
    {% thumbnail bulletin.creator.pic "65x65" crop="center" as im %}
    <img class="profthumb" src="{{ im.url }}">
    {% endthumbnail %}
    {% else %}
    <img class="profthumb" src="http://www.placekitten.com/65/65/">
    {% endif %}
  </div>
  <div class="filter">
    {% include "elements/infostring.html" %}
  </div>
  <h5 class="bulltitle">
    {% if bulletin.resolved %}
    <span class="updateflag">RESOLVED: </span>
    {% elif bulletin.missive_set.all|length > 1 %}
    <span class="updateflag">UPDATE{% if bulletin.missive_set.all|length > 2 %} {{ bulletin.missive_set.all|length|add:"-1" }}{% endif %}:
    </span>
    {% endif %}
    <a href="/bulletin/{{ bulletin.id }}">
      {{ bulletin.subject|title }}
    </a>
  </h5>
  <div class="message">
    {{ bulletin.missive_set.all|dictsort:"timestamp"|last|truncatechars:200 }}
  </div>
</div>
<h5 class="creatorname">{% include "elements/bulletinname.html" with bulletin=bulletin %}</h5>
<span class="timebox">
  <span class="extrainfo">
{% if bulletin.helpbulletin %}Can you Help?{% else %}Do you Want?{% endif %} - </span>
  <span class="timesince">
    {% if bulletin.missive_set.all|length > 1 %}
    Updated {{ bulletin.update|timesince|truncatewords:"2"|cut:", ..." }}
    {% else %}
    {{ bulletin.creation|timesince|truncatewords:"2"|cut:", ..." }}{% endif %} ago
  </span>
</span>
{% if not forloop.last %}
<hr style="margin:5px">
{% endif %}
{% endfor %}
