<form action="" method="post" class="form-horizontal inner_form epf"> 
	{% csrf_token %}

	{% if form.first_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_first_name">First Name:</label>
		<div class="controls">
			{{ form.first_name }}
		</div>
    </div>


	{% if form.last_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_last_name">Last Name:</label>
		<div class="controls">
			{{ form.last_name }}
		</div>
    </div>


	{% if form.dorm.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_dorm">Dorm:</label>
		<div class="controls">
			{{ form.dorm }}
		</div>
    </div>


	{% if form.emailAddress.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_email">Email Address:</label>
		<div class="controls">
			{{ form.emailAddress }}
		</div>
    </div>

	{% if form.pic.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
	<label class="control-label" for="id_first_name">Profile Picture:</label>
	<div class="fileupload fileupload-new controls" data-provides="fileupload">
  		<div class="input-append">
    			<div class="uneditable-input span2"><i class="icon-file fileupload-exists"></i> 
					<span class="fileupload-preview"></span>
				</div>
				<span class="btn btn-file">
				<span class="fileupload-new">Select file</span>
				<span class="fileupload-exists">Change</span><input type="file" placeholder="Profile picture..."/>
				</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  		</div>
	</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="id_password">Password: </label>
		<div class="controls">
			<a href="/changePassword/" type="submit" class="btn btn-alert" >Change</a>   
		</div>
    </div>

	<hr>

	<div class="control-group">
		<div class="controls">
			<input value="Save" class="btn btn-success editProfile span3"/>
		</div>
    </div>
</form>
