<form action="" method="post" class="form-horizontal inner_form epf"> 
	{% csrf_token %}

	{% if form.first_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_first_name">First Name:</label>
		<div class="controls">
			{{ form.first_name }}
		</div>
    </div>


	{% if form.last_name.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_last_name">Last Name:</label>
		<div class="controls">
			{{ form.last_name }}
		</div>
    </div>


	{% if form.dorm.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_dorm">Dorm:</label>
		<div class="controls">
			{{ form.dorm }}
		</div>
    </div>


	{% if form.emailAddress.errors %}
    <div class="control-group error">
	{% else %}
	<div class="control-group">
	{% endif %}
        <label class="control-label" for="id_email">Email Address:</label>
		<div class="controls">
			{{ form.emailAddress }}
		</div>
    </div>

	<div class="control-group">
        {% for error in form.pic.errors %}
			<p class="field_error">{{ error }}</p>
		{% endfor %}
        <label class="control-label" for="id_pic">Profile Picture:</label>
		<div class="controls">
		{{ form.pic }}
		</div>
    </div>

	<div class="control-group">
		<label class="control-label" for="id_password">Password: </label>
		<div class="controls">
			<a href="/changePassword/" type="submit" class="btn btn-alert" >Change</a>   
		</div>
    </div>

	<div class="control-group">
		<label class="control-label" for="id_preferences">Preferences: </label>
		<div class="controls">
			<a href="/editPreferences/" type="submit" class="btn btn-alert" >Change</a>   
		</div>
    </div>

	<hr>

	<div class="control-group">
		<div class="controls">
			<input value="Save" class="btn btn-success editProfile span3"/>
		</div>
    </div>
</form>
