<form action="" method="post" class="eff"> <!--eff = editFilterForm -->
	{% csrf_token %}
	<div>
		<div id="left">
			<h4 class="wantTitle"><strong>Want filters</strong></h4>
			<hr class="tight_hr">
			<div class="input-prepend custom_margin">
				<button class="btn btn-success addWantFilter" type="button">+</button>
				{{ form.addWantFilter }} 
			</div>

		<div class="wantfilters">
		{% for filter in wantfilters %}
			<div class="input-prepend" id="{{ filter.name }}" helpfilter="False">
				<button class="btn btn-danger delFilter" type="button">-</button>
				<input class="filterDisplay" style="background-color:#FBFBFB;" id="{{ filter.name }}" type="text" value="{{ filter.name }}" readonly>
			</div>
		{% endfor %}
		</div>
		</div>


		<div id="right">
			<h4 class="helpTitle"><strong>Help filters</strong></h4>
			<hr class="tight_hr">
			<div class="input-append custom_margin">
				{{ form.addHelpFilter }}
				<button class="btn btn-success addHelpFilter" type="button">+</button>
			</div>

		<div class="helpfilters">
		{% for filter in helpfilters %}
			<div class="input-append" id="{{ filter.name }}" helpfilter="True">
				<input class="filterDisplay" style="background-color:#FBFBFB;" id="{{ filter.name }}" type="text" value="{{ filter.name }}" readonly>
				<button class="btn btn-danger delFilter" id="button_{{filter.name}}" type="button">-</button>
			</div>
		{% endfor %}
		</div>
		</div>
	</div>
	
</form>
