<form action="" method="post" class=""> 
	{% csrf_token %}
	
	<div style="text-align:center;">
		
		<p style="margin-top:0px;margin-bottom:5px;"><strong>Add filters</strong></p>
		<div class="input-append" style="margin-bottom:20px;">
			{{ form.addFilter }}  
			<input type="submit" value="+" class="btn btn-success"/>
		</div>
		
	</div>

	<div style="text-align:center;">



		<div id="left">
			<p style="margin-top:0px;margin-bottom:0px;"><strong>Want filters</strong></p>

			<div class="input-append" style="visibility:hidden;height:0px;">
				<input id="appendedInputButton" type="text" value="{{ filter.name }}">
				<button class="btn btn-danger" type="submit">-</button>
			</div>


		{% for filter in wantfilters %}
			<div class="input-append" style="margin-bottom:5px;">
				<input id="appendedInputButton" type="text" value="{{ filter.name }}">
				<button class="btn btn-danger" type="submit">-</button>
			</div>
		{% endfor %}
		</div>


		<div id="right">
			<p style="margin-top:0px;margin-bottom:0px"><strong>Help filters</strong></p>

			<div class="input-append" style="visibility:hidden;height:0px;">
				<input id="appendedInputButton" type="text" value="{{ filter.name }}">
				<button class="btn btn-danger" type="submit">-</button>
			</div>

		{% for filter in helpfilters %}
			<div class="input-append" style="margin-bottom:5px;">
				<input id="appendedInputButton" type="text" value="{{ filter.name }}">
				<button class="btn btn-danger" type="submit">-</button>
			</div>
		{% endfor %}
		</div>


	</div>

	
</form>
