<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid" style="min-width:940px">
      <a class="brand" href="/">OBOE<sup>alpha</sup></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
	  {% if user.username %}
	  <li>
	    <a href="/editProfile/" class="navbar-link">
	       Hi, 
	      {% if user.first_name %}
	        {{ user.first_name|capfirst }}
	      {% else %}
	        {{ user.username }}
	      {% endif %}
	    </a>
	  </li>
	  <li>
	    <a href="/logout" class="navbar-link">Log Out</a>
	  </li>
	  {% else %}
	    {% if site_area == "register" %}<li class="active">
	      {% else %}<li>{% endif %}<a href="/register">Sign Up</a></li>
	    {% if site_area == "login" %}<li class="active">
	      {% else %}<li>{% endif %}<a href="/login" class="navbar-link">Log In</a></li>
	      {% endif %}
        </ul>
        <ul class="nav">
	  {% if site_area == "home" %}<li class="active">
	    {% else %}<li>{% endif %}<a href="/"><i class="icon-home"></i> Home</a></li>
	  {% if site_area == "people" %}<li class="active">
	    {% else %}<li>{% endif %}<a href="/people/"><i class="icon-user"></i> People</a></li>
	  
	  {% if site_area == "new" %}<li class="active dropdown">
	  {% elif site_area == "newMissive" %}<li class="active dropdown">
	  {% else %}<li class="dropdown">{% endif %}
		<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> New <b class="caret"></b></a>
		<ul class="dropdown-menu">
    		<li><a href="/new/">Bulletin</a></li>
			<li><a href="/newMissive/">Update</a></li>
    	</ul>
		</li>

	  {% if site_area == "editProfile" %}<li class="active">
	  {% elif site_area == "editBulletin" %}<li class="active">
	  {% else %}<li class="dropdown">{% endif %}
		<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Edit <b class="caret"></b></a>
		<ul class="dropdown-menu">
    		<li><a href="/selectBulletin/">Bulletins</a></li>
			<li><a href="/editProfile/">Profile</a></li>
    	</ul>
		</li>

	  {% if site_area == "about" %}<li class="active">
	    {% else %}<li>{% endif %}<a href="/about/"><i class="icon-info-sign"></i> About</a></li>
	  {% if site_area == "contact" %}<li class="active">
	    {% else %}<li>{% endif %}<a href="/contact/"><i class="icon-envelope"></i> Contact</a></li>
        </ul>

	<form class="navbar-search pull-left">
 	  <input type="text" class="search-query" placeholder="Search the Archives">
	</form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
