{% if thread %}
{% if user.userdata == thread.bulletin.creator and not thread.bulletin.resolved %}
<button class="btn sharp pull-right" id="replycredit" type="button" thread="{{ thread.id }}" style="margin-top:5px;">{% if thread.bulletin.helpbulletin %}Resolve + Credit{% else %}Resolve{% endif %}</button>
{% elif not thread.bulletin.resolved %}
<h4 class="faded pull-right">unresolved</h4>
{% elif thread.bulletin.helpbulletin and thread.bulletin.resolved %}
<h4 class="faded pull-right">resolved by {{ thread.bulletin.resolver }}</h4>
{% else %}
<h4 class="faded pull-right">resolved</h4>
{% endif %}
<h3 style="margin-top:0px;"><span class="faded">{% if thread.bulletin.helpbulletin %}Help!{% else %}Want?{% endif %}</span> <a href="/bulletin/{{ thread.bulletin.id }}">{{ thread.bulletin.subject|title }}</a></h3>
<h4 style="color:#505050;">with {% for member in thread.users.all %}{% if member != user.userdata %}<a href="/profile/{{ member.user }}/">{{ member }}</a>{% endif %}{% endfor %}</h4>
<hr>
<form id="replyform" action="{{ thread.id }}" method="POST">
  <input type="submit" class="btn sharp pull-right" value="Reply" id="id_submit" >
  {% csrf_token %}
  <input type="hidden" name="visibility" value="Private">
  <div class="btn-group pull-right" data-toggle-name="visibility" data-toggle="buttons-radio" id="id_visibility">
    <div></div>
    <input type="button" class="btn sharp" value="Public">
    <input type="button" class="btn sharp" value="Private">
    <div></div>
  </div>
  <h5>{{ user.get_full_name }}:</h5>
  {{ form.message }}
</form>
<hr>
{% with replies=thread.reply_set.all|dictsortreversed:"timestamp" %}
{% for reply in replies %}
<div style="float:right;">{{ reply.timestamp }}</div>
<h5>{% if reply.public %}<span style="color:#606060;">Public: </span>{% endif %}{{ reply.sender }}:</h5>
<div class="reply">
  {{ reply.message }}
</div>
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endwith %}
{% else %}
<h1>Hey, that's not your mail!</h1>
{% endif %}
<script>
{% include "djangojs/radioButtons.js" %}
</script>
