{% if not thread.anon and not thread.bulletin.anon %}
  {% if thread.bulletin.creator == user.userdata %}
    <a href="/profile/{{ thread.replier.user }}/">{% if firstname %}{{ thread.get_replier_first_name }}{% else %}{{ thread.get_replier_name }}{% endif %}</a>
  {% else %}
    <a href="/profile/{{ thread.bulletin.creator.user }}/">{% if firstname %}{{ thread.get_creator_first_name }}{% else %}{{ thread.get_creator_name }}{% endif %}</a>
  {% endif %}
{% elif not thread.anon %}
  {% if firstname %}{{ thread.get_creator_first_name }}{% else %}{{ thread.get_creator_name }}{% endif %}
{% else %}
  {% if firstname %}{{ thread.get_replier_first_name }}{% else %}{{ thread.get_replier_name }}{% endif %}
{% endif %}
