<div class="pull-left wantfilter">
  <h4 class="center">Do you want?</h4>
  <hr class="tight_hr">
  {% for filter in wantfilters %}
  {% if filter.name != 'Carpediem' %}
  <div class="input-prepend" id="{{ filter.name }}" helpfilter="False">
    <button class="btn btn-danger delFilter" type="button">-</button>
    <input class="filterDisplay" style="background-color:#FBFBFB;" id="{{ filter.name }}" type="text" value="{{ filter.name }}" readonly>
  </div>
  {% endif %}
  {% endfor %}

  <!--Hidden div to correct title alignment -->
  <div class="input-append" id="" style="height:0; visibility:hidden;">
    <input class="filterDisplay" type="text">
    <button class="btn" type="button">-</button>
  </div>

</div>

<div class="pull-right">
  <h4 class="center" style="width:100%;">Can you help?</h4>
  <hr class="tight_hr">
  
  {% for filter in helpfilters %}
  {% if filter.name != 'Helpme' %}
  <div class="input-append" id="{{ filter.name }}" helpfilter="True">
    <input class="filterDisplay" style="background-color:#FBFBFB;" id="{{ filter.name }}" type="text" value="{{ filter.name }}" readonly>
    <button class="btn btn-danger delFilter" id="button_{{filter.name}}" type="button">-</button>
  </div>
  {% endif %}
  {% endfor %}

  <!--Hidden div to correct title alignment -->
  <div class="input-append" id="" style="height:0; visibility:hidden;">
    <input class="filterDisplay" type="text" readonly>
    <button class="btn" type="button">-</button>
  </div>
</div>	  


